$header-height: 72px;
$site-width: 900px;
$smallest-site-width: 300px;
$min-container-height: 300px;
$text-color: #222;
$link-text-color: #5654bf;
$burger-buttons-bk: #111;
$burger-menu-width: 300px;

$main-bk-clr: rgba(0, 0, 0, .3);
$container-bk-clr: #fafafa;
$inside-cont-bk-clr: #fff;
$inside-cont-border-clr: #ddd;

$header-bg-clor: rgba(0, 0, 0, .3);
$header-txt-color: #ddd;

$filter-bg-color: #c29e62;

@import url('https://fonts.googleapis.com/css?family=Roboto');

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

html {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    box-sizing: border-box;
    color: $text-color;
}

*, *:before, *:after {
    box-sizing: inherit;
}

i {
    padding-right: 4px;
}

p {
    padding: 8px;
    margin: 0;
}

.par {
    padding: 8px;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #000;
    background: url('../images/bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

main {
    font-size: 0;
    max-width: $site-width;
    margin: 0px auto 0 auto;
    padding: 8px;
    background-color: $main-bk-clr;
}

.confirm-delete {
    text-align: center;
}

.right {
    float: right;
}

.left {
    float: left;
}

.info-separator {
    color: lighten($text-color, 50%)
}

.fake-link, a {
    color: $link-text-color;
    cursor: pointer;
    text-decoration: none;
}

.list-item {
    padding: 4px;
}

.container {
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    background-color: $container-bk-clr;
    padding: 8px;
    &.col1 {
        width: 100%;
    }
    &.col2 {
        width: 100%;
        vertical-align: top;
    }
}

.inside-cont {
    border: 1px solid $inside-cont-border-clr;
    padding: 8px;
    background-color: $inside-cont-bk-clr;
}

.filter {
    cursor: pointer;
    width: 33.3%;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    &.active {
        background-color: darken($filter-bg-color, 10%);
    }
}

.filters-cont {
    color: #fff;
    padding: 0;
    border: 0;
    background-color: $filter-bg-color;
}

// HEADER
h1 {
    margin: 0;
    padding: 0;
    line-height: $header-height;
    font-size: 1.5em;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}

header {
    max-width: $site-width;
    margin: 0 auto 0 auto;
    line-height: $header-height;
    color: $header-txt-color;
    vertical-align: center;
    background-color: $header-bg-clor;
    text-align: left;
}

.burger-container {
    display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
    cursor: pointer;
    line-height: $header-height;
    vertical-align: middle;
}

.burger-menu {
    position: absolute;
    top: $header-height;
    overflow: hidden;
    width: $burger-menu-width;
    max-width: 800px;
    transition: width .2s;
    a {
        text-decoration: none;
    }
    &.closed {
        width: 0px;
        transition: width .2s;
        overflow: hidden;
    }
}

.burger-button {
    text-align: center;
    background-color: $burger-buttons-bk;
    color: white;
    cursor: pointer;
    width: $burger-menu-width;
    transition: background-color .3s;
    &:hover {
        background-color: lighten($burger-buttons-bk, 5%);
        transition: background-color .3s;
    }
}

.fa-bars {
    height: $header-height/4;
    color: #7a7a7a;
}

.header-login {
    float: right;
    padding-right: 16px;
}

// STORIES PREVIEW ON FRONT PAGE
.story-preview {
    text-align: left;
}

.story-preview-title {
    text-align: center;
}

.story-thumbnail-container {

}

.story-thumbnail {
    display: block;
}

.story-content {
    text-align: left;
    padding: 32px 8px 16px 8px;
}

.story-author-name {
    text-align: right;
}

// BUTTON
.button {
    display: inline-block;
    background-color: #6089c2;
    color: white;
    cursor: pointer;
    padding: 8px;
    margin: 8px;
    border-radius: 3px;
    border: none;
    min-width: 104px;
    font-size: 1em;
    line-height: 20px;
    &.disabled {
        opacity: 0.7;
        filter: alpha(opacity=70);
        z-index: -100;
    }
    &.delete {
        background-color: #c26060;
    }
    &.submit {
        background-color: #56a44f;
    }
    &.facebook {
        background-color: #3b5998;
        color: #f7f7f7;
    }
    &.button-header-login {
        background: none;
        border: 1px solid #333;
        text-align: center;
    }
}

.button-text {
    display: inline-block;
    vertical-align: center;
}

select, input, button {
    border-width: 0px;
}

// STORY PAGE
.story-info {
    text-align: left;
}

.comment-text {
    text-align: left;
}

.story-screenshot {
    width: 100%;
}

.fa-star, .fa-star-o {
    cursor: pointer;
    color: #edbc2a;
}

.story-preview-info {
    padding: 8px;
}

.story-editor {
    background-color: #d3df73;
    padding: 8px;
}

// ALERT
.fixed-ui {
    left: 50%;
    pointer-events: none;
    transform: translate(-50%, 0);
    top: 0;
    width: 100%;
    max-width: $site-width;
    position: fixed;
    z-index: 1000;
    height: 100%;
}

.alert-container {
    z-index: 1000;
    border-radius: 3px;
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 16px;
    right: 16px;
    &.alert-message {
        background-color: rgba(#2a7e1c, 0.9);
    }
    &.error-message {
        background-color: rgba(#de3e3e, 0.9);
    }
}

// SPINNER
.loading-container {
    z-index: 1000;
    position: absolute;
    top: 8px;
    right: 8px;
}

.profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    &.header-pic {
        line-height: $header-height;
        vertical-align: middle;
        width: 30px;
        height: 30px;
    }
    &.small-thumb {
        vertical-align: middle;
        width: 17px;
        height: 17px;
    }
    &.comment {
        width: 50px;
        height: 50px;
    }
    &.story-avatar {
        width: 50px;
        height: 50px;
    }
}

.dropzone {
    display: inline-block;
    border: 1px solid #b8b8b8;
    max-width: 300px;
    padding: 16px 16px 8px 16px;
    cursor: pointer;
}

.small {
    font-size: .8em;
    margin: 8px;
}

// FORM
.form-element {
    color: $text-color;
    font-size: 1.1em;
    width: 90%;
    border-radius: 3px;
    border: 1px solid #c7c7c7;
    padding: 5px;
    &.change-username {
        max-width: 300px;
    }
}
.story-textarea {
    min-height: 300px;
    resize: vertical;
    padding: 0;
    margin: 0;
}

.screenshot-preview {
    width: 100%;
}

.log-in, .sign-up {
    margin: 0 auto;
    max-width: 400px;
}

.or {
}

// COMMENT
.new-comment-textarea {
    width: 90%;
    min-height: 100px;
    resize: vertical;
}

.comment {
    text-align: left;
    overflow: hidden;
}

.comment-author {
    float: left;
    width: 100px;
    text-align: center;
}

.comment-right-box {
    padding: 8px;
    overflow: hidden;
}

.comment-top-bar {
    padding: 8px;
    overflow: hidden;
    text-align: right;
}

.comment-options {
    text-align: right;
    padding: 8px;
}

.author {
    font-weight: bold;
}

.date {
    color: #818181;
    font-size: .9em;
}

// MODAL BOX
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

/* Add Animation */
@include keyframes(animatetop) {
    0%   { margin: -15% auto;}
    100% { margin: 15% auto; }
}

/* Modal Content/Box */
.modal-content {
    background-color: rgba(255,255,255,.7);
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.5s;
    animation-name: animatetop;
    animation-duration: 0.5s
}


/* mobile */
@media only screen and (max-width: 550px) {

    .button-header-login {
        display: none;
    }

    .date-right {
        display: block;
        float: none;
        text-align: left;
    }

    h1 {
        font-size: 1.6em;
    }

    .comment-top-bar {
        height: 73px;
    }

    .comment-author {
        text-align: left;
        width: 64px;
    }

}
