$header-height: 64px;
$site-width: 800px;
$smallest-site-width: 300px;
$min-container-height: 300px;
$text-color: #3e3e3e;
$link-text-color: #5654bf;
$burger-buttons-bk: #666666;

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

html {
    font-family: helvetica;
    box-sizing: border-box;
    color: $text-color;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

main {
    font-size: 0;
    max-width: $site-width;
    margin: 0px auto 0 auto;
    padding: 8px;
    background-color: #dbdbdb;
}

.fake-link {
    color: $link-text-color;
    cursor: pointer;
}

.list-item {
    padding: 4px;
}

.container {
    font-size: 1rem;
    display: inline-block;
    background-color: #e9e9e9;
    padding: 8px;
    &.col1 {
        width: 100%;
    }
    &.col2 {
        width: 50%;
    }
}

.inside-cont {
    border: 1px solid #b9b9b9;
    padding: 8px;
    background-color: #dddddd;
}

// HEADER
h1 {
    margin: 0;
    padding: 0;
    line-height: $header-height;
    font-size: 1.5em;
}

header {
    max-width: $site-width;
    margin: 0 auto 0 auto;
    line-height: $header-height;
    background-color: #cdcdcd;
    vertical-align: center;
}

.burger-container {
    position: absolute;
    padding-left: 24px;
    padding-right: 24px;
    cursor: pointer;
    line-height: $header-height;
    vertical-align: middle;
}

.burger-menu {
    position: absolute;
    top: $header-height;
    width: 250px;
    max-width: 800px;
    a {
        text-decoration: none;
    }
}

.burger-button {
    background-color: $burger-buttons-bk;
    color: white;
    cursor: pointer;
    &:hover {
        background-color: darken($burger-buttons-bk, 5%)
    }
}

.fa-bars {
    height: $header-height/4;
    color: #7a7a7a;
}

.header-login {
    float: right;
    padding-right: 16px;
}

// STORIES PREVIEW ON FRONT PAGE
.story-preview {
    text-align: justify;
}

.story-preview-title {
    text-align: center;
}

.story-thumbnail-container {

}

.story-thumbnail {
    display: block;
}

// BUTTON

.button {
    display: inline-block;
    background-color: #6089c2;
    color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 3px;
    border: none;
    min-width: 104px;
    font-size: 1em;
    &.disabled {
        opacity: 0.7;
        filter: alpha(opacity=70);
        z-index: -100;
    }
}

select, input, button {
    border-width: 0px;
}

// STORY PAGE
.story-info {
    text-align: left;
}

.comment-text {
    text-align: left;
}

.story-screenshot {
    width: 100%;
}

// ALERT
.alert-container {
    border-radius: 3px;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    &.alert-message {
        background-color: #6b64e9;
    }
    &.error-message {
        background-color: #e96464;
    }
}

// SPINNER
.loading-container {
    position: fixed;
    top: 85px;
    right: 16px;
}

.profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    &.header-pic {
        line-height: $header-height;
        vertical-align: middle;
        width: 30px;
        height: 30px;
    }
    &.small-thumb {
        vertical-align: middle;
        width: 17px;
        height: 17px;
    }
}

.dropzone {
    display: inline-block;
    border: 1px solid #b8b8b8;
    background-color: #dddddd;
    max-width: 300px;
    padding: 16px 16px 8px 16px;
    cursor: pointer;
}

.small {
    font-size: .8em;
    margin: 8px;
}

// FORM
.form-element {
    color: $text-color;
    font-size: 1.1em;
    width: 90%;
    border-radius: 3px;
    border: 1px solid #c7c7c7;
    padding: 5px;
}
.story-textarea {
    min-height: 300px;
    resize: vertical;
}

.screenshot-preview {
    width: 100%;
}

.new-comment-textarea {
    width: 90%;
    min-height: 100px;
    resize: vertical;
}

// MODAL BOX
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Add Animation */
@include keyframes(animatetop) {
  0%   { top: -300px; opacity: 0 }
  50%  { top: -300px; opacity: 0 }
  100% { top: 0; opacity: 1 }
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
